Objetivo: Prever a nota G3 do aluno que é a nota do ultimo período do aluno 

Informações Uteis: Já sabemos que G1 e G2 possuem grande correlação com o targer.

Alguns passos que vou levar em consideração durante o Notebook:
    1)Encontrar quais são as maiores correlações (Utilizando Pearson e Lasso) (Desconsiderando G1,G2) 
    2) Prever a nota utilizando o G1,G2
    3) Prever a nota sem utilizar G1,G2

In [26]:
from sklearn import linear_model
from scipy.stats import pearsonr

from zipfile import ZipFile

import pandas as pd

In [10]:
zip =ZipFile('../data/student.zip')
data = pd.read_csv(zip.open('student-mat.csv'),sep=';')

In [12]:
data.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

1) Encontrando Correlações

In [14]:
y = data['G3']

In [25]:
X = data.drop('G3',1)

Tratamento das variaveis em X

['GT3' 'LE3'] ['A' 'T'] ['at_home' 'health' 'other' 'services' 'teacher'] ['U' 'R'] ['F' 'M'] ['GP' 'MS']