In [ ]:
# Notebook da competição Kaggle https://www.kaggle.com/c/competitive-data-science-predict-future-sales/overview

# Incompleto

In [10]:
import pandas as pd
from sklearn.linear_model import Lasso
from zipfile import ZipFile

from datetime import datetime

In [7]:
zip =ZipFile('../data/competitive-data-science-predict-future-sales.zip')
data = pd.read_csv(zip.open('sales_train.csv'))

In [8]:
data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [17]:
#Transformar em data as colunas 
data.date=data.date.apply(lambda x:datetime.strptime(x, '%d.%m.%Y'))

TypeError: strptime() argument 1 must be str, not Timestamp